body{
    font-family: 'Times New Roman', Times, serif, sans-serif;
    background-color: #a5b1c1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
} .container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
} input {
    padding: 10px;
    margin-right: 10px;
    width: 60%;
    border: 1px solid #ccc;
    border-radius: 4px;
} button {
    padding: 10px 20px;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border-radius: 4px;
} button:hover {
    background-color: #45a049;
}
